.mairie1c {
  background-image: url('../../Components/Header/mairie\ du\ 4e\ arr\ de\ lbv.jpg');
  height: 80vh;
  background-repeat: no-repeat;
  background-size: cover;
  display: flex;
  flex-direction: column;
  background-position: center;
  justify-content: center;
  align-items: center;
}

.boutton-containerc {
  display: flex;
  justify-content: center;
  text-align:center;
  width: 45%;
  background-color:white;
  border-radius: 8px;
  opacity: 0.8;
  height: max-content;
  overflow: hidden;
}
.butc h1{
  font-size: 30px;
  color:#1B3D71;
  font-weight: bold;
}


.bouttonc {
  display: flex;
  align-items: center;
  justify-content: space-between; /* Espace entre le texte et l'icône */
  height: 40px;
  margin: 10px 8px;
  padding: 0 10px;
  background-color: #1B3D71;
  color:white ;
  border: none;
  cursor: pointer;
  text-align: center;
  width: 35VW; /* Largeur fixe pour aligner les boutons */
  font-weight: bold;
  margin-right:auto;
  margin-left:auto;
}

.bouttonc:hover {
  background-color: #1B3D71;
  color:white;
}

.arrow-icon {
  margin-left: 8px; /* Espace entre le texte du bouton et l'icône */
}


/* Styles spécifiques pour la version mobile */
@media (max-width: 768px) {
 

.boutton-containerc {
  display: flex;
  justify-content: center;
  text-align:center;
  width: 98%;
  background-color:white;
  height: max-content;
  border-radius: 8px;
  opacity: 0.8;
}
.butc h1{
  font-size: 20px;
  color:#1B3D71;
  font-weight: bold;
  text-align: center;
}


.bouttonc {
  display: flex;
  align-items: center;
  justify-content: space-between; /* Espace entre le texte et l'icône */
  height: 40px;
  margin: 10px 8px;
  padding: 0 10px;
  background-color: #1B3D71;
  color:white ;
  border: none;
  border-radius: 2px;
  cursor: pointer;
  text-align: center;
  width: 93vw; /* Largeur fixe pour aligner les boutons */
  font-weight: bold;
}

.bouttonc:hover {
  background-color: #1B3D71;
  color:white;
}

.arrow-icon {
  margin-left: 8px; /* Espace entre le texte du bouton et l'icône */
}
.mairie1c {
  background-image: url('../../Images/CDQ-copie1.jpg');
  height: 50vh;
  background-repeat: no-repeat;
  background-size: cover;
  display: flex;
  flex-direction: column;
  background-position: center;
  justify-content: center;
  align-items: center;
}

}