.actualites-container {
  width: 94%;
  padding: 10px;
  margin-top:-20%;
}

.actualites-title {
  font-size: 30px;
  font-weight: bold;
  margin-bottom: 5%;
  text-align: center;
}

.actualites-carousel {
  display: flex;
  gap: 10px;
  overflow-x: auto;
  padding-bottom: 10px;
}

.actualite-card {
  min-width: 250px;
  text-align: center;
  cursor: pointer;
}

.actualite-image {
  width: 200px;
  height:200px;
  border-radius: 50%;
  object-fit: cover;
  border: 3px solid #ccc;
  transition: 0.3s;
}

.actualite-image:hover {
  transform: scale(1.05);
  border-color: #000;
}

.actualite-titre {
  margin-top: 10px;
  font-size: 14px;
  font-weight: 500;
}
@media (max-width: 576px) {
    
 .actualites-container {
  width: 100%;
  padding: 20px;
}

.actualites-title {
  font-size: 32px;
  font-weight: bold;
  margin-bottom: 8%;
  text-align: center;
}
    }