.accueil-layout {
  display: flex;
  width: 100%;
  margin-top: 20px;
}

.accueil-main {
  width: 100%;

}

.accueil-pubs {
  width: 20%;
  position: sticky;
  height: fit-content;
  margin-top: 10%;
}
