
.barreal{
    width: 100%;
    margin-top:2%;
    padding-left:2%;
}
.trait3sal{
    width: 6%;
    height: 5px;
    margin-left: 9px;
    background-color: #1B3D71;
    margin-bottom: 5px;
}
.trait4sal{
    width: 8%;
    height: 5px;
    background-color: #1B3D71;
}

 .container1al h1{
    color: #1B3D71;
    text-align:start;
    font-size: 30px;
    font-weight: bold;
       justify-content: start;
    width:80%;
    

    white-space: nowrap; /* Empêche le texte de se couper sur plusieurs lignes */

}

.contact-containeral {
    text-align: center;
    align-items:center;
    justify-content: center;
     justify-content: start;
    width:90%;
}



.cards1-containeral {
    display: flex;
    justify-content: space-around;
    align-items: center;
    width:100%;
    margin: auto;
    margin-top:40px;
}
.mereimg{
    background-size: cover;
    background-image: url('../../Images/Agenda.png');
    height: 70%;
    border-radius: 8px;
}
.mereimg1{
    background-size: cover;
    background-image: url('../../Images/NumeroUtile.jpeg');
    height: 70%; 
    border-radius: 8px;
}
.mereimg2{
    background-size: cover;
    background-image: url('../../Images/Galerie2.jpeg');
    height: 70%; 
    border-radius: 8px;
}
.mereimg3{
    background-size: cover;
    background-image: url('../../Images/MARIAGE.jpg');
    height: 70%; 
    border-radius: 8px;
}
.mereimg4{
    background-size: cover;
    background-image: url('../../Components/Header/mairie\ du\ 4e\ arr\ de\ lbv.jpg');
    border-radius: 8px;
    height: 70%;
}
.card1al {
    background-color: #f7f7f7;
    border-radius: 8px;
    padding: 5px;
    text-align: center;
    width: 18%;
    margin-bottom: 10px;
    height: 200px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    transition: transform 0.3s ease;
}

.card1al img {
    width: 100%;
    height: 120px;
    border-radius: 8px;
    margin-bottom: 10px;
}

.card1al h2 {
    font-size: 20px;
    margin-top: 10px;
    color: #1B2D71;
    text-shadow: 2px 2px 20px white;
}
.card1al h2:hover{
    color:#d9b849 ;
}
.card1al a{
    text-decoration:none;

}

/* Animation au survol */
.card1al:hover {
    transform: translateY(-10px);
}

/* Responsive styles */
@media (max-width: 576px) {
    .cards1-containeral {
        justify-content: space-around;
        align-items:center;
        width: 100%;
        display:block;
        margin-top: 5px;
        margin-left: auto;
        margin-right: auto;
        
    }
    .contact-containeral {
    text-align: center;
    align-items:center;
    justify-content: center;
     justify-content: start;
    width:100%;
}
    
    .container1al{
        margin-bottom: 3%;
        justify-content: space-around;
        align-items:center;

    }

    .card1al {
        background-color: #f7f7f7;
    border-radius: 8px;
    padding: 5px;
    text-align: center;
    width: 100%;
    margin-bottom: 10px;
    height:300px ;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    transition: transform 0.3s ease;
    }

    .card1al h2 {
        font-size: 18px;
        margin-top: 20px;
    }
    .container1al h1{
        color: #1B3D71;
        font-size:16px;
        margin-top: 5px;
        font-weight: bold;
    }
   .barreal{
    width:80%;
    margin-right:auto;
   }
    .trait3sal{
        width: 8%;
        height: 5px;
        margin-left: 9px;
        background-color: #1B3D71;
        margin-bottom: 5px;
    }
    .trait4sal{
        width: 30px;
    }
    .barreal{
        width:50%;
    }
    .barreal h1{
        text-align: start;
    }
    .mereimg{
        background-size: cover;
        background-image: url('../../Images/Agenda.png');
        height: 80%;
        border-radius: 8px;
    }
    .mereimg1{
        background-size: cover;
        background-image: url('../../Images/NumeroUtile.jpeg');
        height: 80%; 
        border-radius: 8px;
    }
    .mereimg2{
        background-size: cover;
        background-image: url('../../Images/Galerie2.jpeg');
        height: 80%; 
        border-radius: 8px;
    }
    .mereimg3{
        background-size: cover;
        background-image: url('../../Images/MARIAGE.jpg');
        height: 80%; 
        border-radius: 8px;
    }
    .mereimg4{
        background-size: cover;
        background-image: url('../../Images/CDQ.jpg');
        border-radius: 8px;
        height: 80%;
    }

}