/* Style de la barre de navigation */
.navbar {
    background-color: white; /* Couleur de fond blanche */
    box-shadow: none; /* Retirer l'ombre si besoin */
    position: relative;
    z-index: 1; /* S'assurer que la navbar est bien visible */
    padding: 0 20px; /* Ajouter un padding pour éviter que les éléments touchent les bords */
  }
  

  .navbar-container{
    width:100%;
}
  .MuiDrawer-paper {
    width: 250px; /* Largeur du menu latéral */
    background-color: white; /* Couleur de fond du menu latéral */
  }
  
  .MuiListItemText-root {
    color: black; /* Couleur des textes du menu */
  }
  
  .MuiListItemText-root a {
    text-decoration: none; /* Enlever le soulignement des liens */
    color: black; /* Couleur des liens dans le menu */
  }
  
  .MuiListItem-root:hover {
    background-color: #f0f0f0; /* Couleur de fond au survol */
  }
  
  .MuiIconButton-root {
    color: black; /* Couleur du bouton de menu hamburger */
  }
  .nommairie{
    display: flex;
    width: 100%;
    margin-left: auto;
    margin-right: auto;
    align-items: center;
    justify-content: center;
  }

    .nommairie {
  display: flex;
  justify-content: center;
}


/* Animation du titre */
.titreAnime {
  font-weight: 700;
  opacity: 0;
   font-size: 40px;
    font-weight: bold;
    color: #1B3D71;
    text-align: center;
    text-decoration: double;
    align-items: center;
    font-family: Georgia, 'Times New Roman', Times, serif;
    margin-top: 5px;
    text-shadow: 1px 2px 2px #1B3D71;
  animation: fadeSlideDown 1.2s forwards,  ease-out 1.2s infinite;
}

@keyframes breathing {
  0% {
    transform: translateY(0) scale(1);
  }
  50% {
    transform: translateY(-8px) scale(1.03); /* Léger zoom + montée */
  }
  100% {
    transform: translateY(0) scale(1);
  }
}


@keyframes fadeSlideDown {
  from {
    opacity: 0;
    transform: translateY(-25px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}
  
  @media (max-width: 768px) {
    .nommairie{
      display: flex;
      width: 100%;
      align-items: center;
      justify-content: center;
    }
    .nommairie h1{
      font-size: 14px;
      font-weight: bold;
      color: #1B3D71;
      text-align: center;
      text-decoration: double;
      align-items: center;
      text-shadow: 2px 1px 2px #1B3D71;
      margin-top: 8px;
    }
    /* Style de la barre de navigation */
.navbar {
    background-color: white; /* Couleur de fond blanche */
    box-shadow: none; /* Retirer l'ombre si besoin */
    position: relative;
    z-index: 1; /* S'assurer que la navbar est bien visible */
    padding: 0 20px; /* Ajouter un padding pour éviter que les éléments touchent les bords */
  }
  }
  
 
  