
    /* src/components/Text.css */
    .texte-comite{
      text-align: center;         /* Centre le texte */
      padding: 10px;              /* Ajoute de l'espace autour du texte */
      background-color: #ffffff;  /* Couleur de fond légère */
      border-radius: 4px;         /* Arrondit les coins */
      max-width: 85%;           /* Limite la largeur pour une meilleure lisibilité */
      margin: auto;             /* Centre le div horizontalement */
      box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
      margin-top: 2%;
      text-align: center;
      font-size:20px;
      color: gray
    }
  
  .boss-comite1{
    margin: auto;
    width: 100%;
    display: flex;
    flex-direction: column;
    padding-left: 1%;
    padding: auto;
    }
  
      
   .enfant-text-comite1{
    color: #1B3D71;
    font-weight: bold;
    font-size: 30px;
    text-align: center;
    margin-top: 2%;
    }
  
    .trait-comite2{
      width: 60%;
      height: 3px;
      background-color: #1B3D71;
      margin-top: 2.5%;
      float: right;
      margin-right: 14%;
    }
  
    .trait-comite1{
    width: 4%;
    height: 3px;
    margin-right: 10px;
    background-color: #1B3D71;
    margin-top: 2.5%;
    float: left;
    }
  
      
    @media (max-width: 580px) {
      .boss-comite1{
      margin: auto;
      width: 95%;
      display: flex;
      flex-direction: column;
      padding: auto;
     }
    
      .texte-comite{
        text-align: center;         /* Centre le texte */
        padding: 6px;              /* Ajoute de l'espace autour du texte */
        background-color: ffffff;  /* Couleur de fond légère */
        border-radius: 8px;         /* Arrondit les coins */
        max-width: 100%;           /* Limite la largeur pour une meilleure lisibilité */
        margin: auto;             /* Centre le div horizontalement */
        box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
        margin-top: 1%;
        text-align: justify;
        font-size:14px;
        padding: 10px;
          }
          
        
     .enfant-text-comite1{
      color: #1B3D71;
      font-weight: bold;
      margin-top: 2%;
      font-size: 16px;
      }
    
      .trait-comite2{
        width: 58%;
        height: 3px;
        background-color: #1B3D71;
        margin-top: 4.3%;
        float: right;
        margin-right: 1%;
      }
    
      .trait-comite1{
      width: 4%;
      height: 3px;
      margin-right: 10px;
      background-color: #1B3D71;
      margin-top: 4.3%;
      float: left;
      }
         
         }
       
      
    
    