.mot-maire-container {
    width: 90%;
    padding: 20px 0;
    text-align: center;
    justify-content:center;
   
}

.motmaire {
    font-size: 30px;
    margin-bottom: 20px;
    color:#1B3D71;
    font-weight:bold;
    text-align:center;
    text-shadow: 2px 2px 2px white;

}

.maire-card {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: white;
    transition: transform 0.3s ease;
    padding: 20px;
    border-radius: 8px;
    width:100%;
}

.maire-text {
    flex-basis: 60%;
    text-align: left;
}

.maire-text h2 {
    font-size: 30px;
    margin-bottom: 10px;
    color:  #d9b847;
    text-shadow: 2px 2px 20px white;

}

.maire-text p {
    font-size: 20px;
    line-height: 1.6;
    color: gray;

}

.maire-image {
    flex-basis: 46%;
}

.maire-image img {
    width: 100%;
    border-radius: 8px;
}

/* Responsive styles */
@media (max-width: 768px) {
    .maire-card {
        flex-direction: column;
        width: 100%;
    }

    .maire-text {
        text-align: center;
        margin-bottom: 20px;
    }
    .maire-text p {
        font-size: 14px;
        line-height: 1.6;
        color: gray;
        text-align: justify;
    }
    .maire-image {
        width: 100%;
    }
    .mot-maire-container h1 {
        font-size:25px ;
        margin-bottom: 2%;
    }
    .mot-maire-container {
        width: 100%;
        margin: 0 auto;
        padding: 20px 2px;
        text-align: center;
        justify-content:center;
        margin-top: 25px;
       
    }
}
